* {
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.item {
  width: 20%;
  height: 20cqw;
  border: 1px solid;
}
